
@font-face{
    font-family: "Karma";
    src: url(./font/Karma-Medium.ttf) ;
}
.header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;

}

 @media(width : 320px){
    .header{
        max-width: 1000px; 
        margin: auto;
        display: inline;
 
   
    }
} 

.menu{
    float: left !important;
    padding-top: 2.5rem;
    padding-bottom: 1rem;


 

}

.imgmenu{
    width:30px ;
    height: 30px;
}

@media(width : 320px){
    .menu{
        padding-left: 0rem;

    
   
    }
} 

@media(min-width : 768px){
    .menu{
        padding-left: 1rem;
   
    }
} 

@media(min-width : 1024px){
    .menu{
        padding-left: 8rem;
   
    }
 
} 

.food{
    color: black;
    /* padding: 2rem ; */
    font-size: 25px;
    text-align: center;
    font-family:"Karma", sans-serif ;
    padding-top: 2.5rem;


    
    /* padding-left: 1rem; */

}
@media(width : 320px){
    .food{
        text-align: center;
   
   

 
   
  
 

      
   
    }
} 


.mail{
    float: right !important;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: black;
    font-size: 25px;
    font-family:"Karma", sans-serif ;
}
 @media(width : 320px){
    .mail{
        padding-right:1rem;
   
    }
} 

@media(min-width : 768px){
    .mail{
        padding-right: 1rem;
   
    }
} 

@media(min-width : 1024px){
    .mail{
        padding-right: 8rem;
   
    }
 
} 
.content1{
    padding-top: 10rem;
    /* background-color: white; */
    /* text-align: center; */
    /* padding: 2rem 0rem; */
    padding-bottom: 4rem ;
    color: black;
    /* margin-bottom: 2rem; */
    /* width: calc(66.66% -1rem ); */
    display: inline;
    font-family:"Karma", sans-serif ;
}
.boxt{
        background-color: white;
        margin: .5rem;
        float: left !important;
        text-align: center;
        /* width: calc(25% - 1rem); */
        text-align: center;
    width: calc(100% -1rem);
    /* width: 100px;
    display: inline-block;
    height: 400px; */

}

@media(width : 768px){
    .boxt{
        height: 400px;
        background-color: white;
        margin: .5rem;
        float: left !important;
        width: calc(50% - 1rem);
        text-align: center;

    }
}

@media (min-width : 1024px){
    .boxt{
        height: 400px;
        background-color: white;
        margin: .5rem;
        float: left !important;
        width: calc(25% - 1rem);
        text-align: center;
    }

}

.imgc1{
    width: 80%;
     height: 70%;
}

.content2{
    padding-top: 10rem;
    background-color: white;
    text-align: center;
    padding: 2rem 0rem;
    color: black;
    margin-bottom: 1rem;
    margin: 0rem 15rem;
    display: inline;
    font-family:"Karma", sans-serif ;
}

.imgc2{
    width: 60%;
     height: 50%;
}

@media (min-width : 1024px){
.imgc2{
    width: 30%;
    height: 20%;
}
}

@media (width: 768px){
    .imgc2{
        width: 50%;
        height: 20%;
    }
    }

#footer{
    color:black;
    font-size: 30px;
    text-align: center;
    font-family:"Karma", sans-serif ;
    background-color: white;
    display: inline;
    margin: 0rem 15rem;

}
.boxt-footer{
    width: 100%;
    font-size: 10px;
    text-align: left;
    padding-top: 0.5rem !important;
    padding-bottom: 1rem;
}






@media (min-width : 768px){
    .boxt-footer{
        background-color: rgb(255, 255, 255);
        margin: .5rem;
        float: left !important;
        width: calc(32% - 1rem);
        text-align: left;
        font-size: 15px;
        padding-top: 0.1rem ;
    }

}

.number-center{
    text-align: center;
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  
}

.black{
    color: #fff !important;
  background-color: #000 !important;
}


.footer-ul-h :hover{
    list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgba(173, 171, 171, 0.5);

}

.hoverbut:hover{
    color: #fff !important;
    background-color: #000 !important;
}
.number-item{
  padding: 0.5rem 1rem;
}

.black{
    color: #fff !important;
  background-color: #000 !important;
}

.tag-grey{
    color: #fff !important;
  background-color: #8d8d8d
}


.tag{
    display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.f{
    margin-bottom: 2rem;
}

.img-left{
    float: left;
}

.margin{
    margin-right: 10px;
}

.li-padding {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.imgf{
    width:50px ;
    height: 50px; 
}


.divv{
    max-width: 1200px;
    margin-left: auto;
  margin-right: auto;


}

.matn{
    padding-bottom: 1.5rem;
}


.boxt-f1{
    padding-top: 3rem;
}

@media (width : 768px){
    .boxt-f1{
        padding-top: 2.75rem;
    }

}




